/* Base Styles */
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&family=Raleway&display=swap');


:root {
    --ff-1: 'Festive', cursive;
    --ff-2: 'Raleway', sans-serif;
    --fw-1: 400;
    --fw-2: 500;
    --fw-3: 700;
    --fs: 16px;

    --clr-1: rgba(212, 106, 106, 0.7);
    --clr-2: rgba(64, 127, 127, 0.1);
    --clr-3: rgba(255, 255, 255, 0.692);
    --clr-4: rgba(0, 153, 255, 0.2);
    --clr-5: rgba(183, 0, 255, 0.288);
    
    --br: 5px;
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--fs);
}
.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem; 
}
.app {
   padding: 0 20px 20px 20px;
}
.title {
    font-size: calc(30px + (60 -30) * ((100vw -320px)/(2560 -320)));
    text-align: center;
    font-family: var(--ff-1);
}
.generate {
    background-color: var(--clr-4);
    display: flex;
    /* justify-content: space-around; */
    width: fit-content;
    margin-top: 30px;
    padding: 15px;
    border-radius: var(--br);
}
@media screen and (max-width : 425px) {
    .generate {
        width: auto;
        justify-content: space-evenly;
    }
    .output {
        /* margin:  auto; */
        width: 100vw;
    }
}
.para-title {
    text-transform: capitalize;
    font-family: var(--ff-2);
    font-weight: var(--fw-3);
    font-size: calc(10px + (30 -10) * ((100vw -320px)/(2560 -320)));
}
#number {
    width: 50px;
    height: 3vh;
    padding-left: 5px;
    margin: auto 20px;
    border-radius: var(--br);
    border: none;
    font-family: var(--ff-2);
    font-size: calc(15px + (15 - 8) * ((100vw -320px)/(2560 -320)));
}
.btn {
    font-family: var(--ff-2);
    font-weight: var(--fw-3);
    font-size: calc(7px + (10 -7) * ((100vw -320px)/(2560 -320)));
    text-transform: uppercase;
    background-color: var(--clr-1);
    border: none;
    border-radius: var(--br);
    letter-spacing: 2px;
    padding: 0 20px;
}
.btn:hover {
    background-color: var(--clr-5);
    transform: translateY(4px);
}
.paragraph {
    padding: 20px;
    margin-top: 10px;
    background-color: var(--clr-2);
    font-family: var(--ff-2);
    font-size: calc(10px + (15 -10) * ((100vw -320px)/(2560 -320)));
}
footer {
    position: absolute;
    bottom: 10px;
    font-family: var(--ff-2);  
    font-weight: var(--fw-1);
    font-size: calc(12px + (12 - 8) * ((100vw -320px)/(2560 -320)));
}
#love {
    color: crimson;
}